# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Node（若日后引入 console UI）
node_modules/
ui/node_modules/
ui/dist/
